body{
    background-color: #0f0f0f;
}

.login-container{
margin-top: 50px; /* From https://css.glass */
background: rgba(14, 13, 13, 0.18);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px dashed rgba(255, 255, 255, 0.3);
}

h1{
    text-align: center;
    font-family: sans-serif;
    color: w;
    font-weight: bold;
    margin-top: 3rem;
}